.DS_Store
node_modules
docTemp
/dist
/source/index.html
package-lock.json
coverage

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

documentation/html/components_Records_Search_Input_AdvancedSearch.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_AdvancedSearch.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_AdvancedSearchDialogBox.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderComponents_Domains.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderComponents_Licences.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderComponents_Organisations.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderComponents_Subject.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderComponents_Taxonomies.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderComponents_UserDefinedTag.vue.html
documentation/html/components_Records_Search_Input_AdvancedSearch_QueryBuilderView.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderComponents_Domains.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderComponents_Licences.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderComponents_Organisations.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderComponents_Subject.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderComponents_Taxonomies.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderComponents_UserDefinedTag.vue.html
documentation/html/components_Records_Search_Input_QueryBuilderView.vue.html
documentation/html/utils_advancedSearchUtils.js.html
documentation/html/views_AdvancedSearch_AdvancedSearchResultTable.vue.html
documentation/html/views_AdvancedSearch_AdvancedSearchSelection.vue.html
documentation/html/views_Records_AdvancedSearchResultTable.vue.html
documentation/html/views_Records_AdvancedSearchSelection.vue.html
